<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Candidate <b>'<%= unknown_candidate %>'</b> not found. When you have a registered candidate, try again</p>
  </body>
</html>
