<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>User <b>'<%= unknown_user %>'</b> not found. When you have a valid user, try again</p>
  </body>
</html>
