<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>User <b>'<%= unknown_user %>'</b> unknown. When you have a true user, use the <a href="vote">vote</a> page again</p>
  </body>
</html>