<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Your votes have been registered!!!! You can inspect your votes at <a href="vote">vote</a> page again</p>
  </body>
</html>
