<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>You tried something only allowed in Florida district. When you have something legal to vote, use the <a href="vote">vote</a> page again</p>
  </body>
</html>
